*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
body{
    background: linear-gradient(90deg,#BF4222,#E30F87);
    padding: 20PX;

}
.topnav {
    background-color: #333;
    padding: 0;
    margin-left: -1.5%;
    margin-right: 1.5%;
    width: 103%;
    margin-top: -1.5%;
    overflow: hidden;
}
.close-sesion {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.close-sesion:hover {
    background-color: #ddd;
    color: black;
    
}
.usuario{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
form{ 
    display: flex;
}
.buscador{
    width: 80%;
    height: 30px;
    background: white;
    outline: 0px;
    border-radius: 20px;
    margin-top: 10px;
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    color: #E30F87;
    font-size: 16px;
    display: flex;
}
input[type="submit"]{
    width:20%;
    /*height:50px;*/
    margin-top:10px;
    padding: 0.5%;
    color: white;
    border: 0px;
    background: linear-gradient(90deg,rgb(173, 34, 191),rgb(117, 82, 216));
    font-weight: 300;
    cursor: pointer;
    font-size: 18px;
    border-radius: 20px;
}
input[type="submit"]:hover{
    background: linear-gradient(90deg,rgb(117, 82, 216),rgb(173, 34, 191));
}
.logo{
    width: 300;
}

/*para que sea responsive*/
@media screen and (max-width: 800px){
    .topnav {
        background-color: #333;
        padding: 0;
        margin-left: -6%;
        margin-right: 1.5%;
        width: 112%;
        margin-top: -6%;
        overflow: hidden
    }
}