@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300.300i,400,400i,500,500i,700,700i,900,900i');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
body{
    background: linear-gradient(90deg,#BF4222,#E30F87);
    padding: 20PX;

}
.container-all{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}
/*lado izquierdo*/
.ctn-form{
    width:80%;
    padding: 40px;
    background: #F7F7F7F7;
}
.logo{
    width: 150px;
    display: block;
    margin: auto;
}
.title{
    text-align: center;
    margin-top:20px;
    font-weight: 300;
    color:#7a7a7a;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 300;
    color: #7a7a7a;
}
input[type="text"],input[type="password"]{
    width: 100%;
    height: 30px;
    background: rgba(0,0,0,0);
    border: 0px;
    outline: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    color: #E30F87;
    font-size: 16px;
}
input[type="submit"]{
    width:100%;
    height:50px;
    margin-top: 60px;
    color: white;
    border: 0px;
    background: linear-gradient(90deg,#BF4222,#E30F87);
    font-weight: 300;
    cursor: pointer;
    font-size: 18px;
}
input[type="submit"]:hover{
    background: linear-gradient(90deg,#E30F87,#BF4222);
}

.text-footer{
    display: block;
    margin-top:100px;
    text-align:center;
    color: #7a7a7a;
    font-weight: 300;
}
.text-footer a{
    color:#029EE1;
    font-weight: 500;
}
/*lado derecho*/

.ctn-text{
    width: 100%;
    background-image: url(../images/music.jpg);
    background-position: center;
    background-size: cover;
    padding: 40px;
    position: relative;
}
.capa{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg,#E30F87,#BF4222);
    opacity: 0.8;
}
.title-description{
    position: relative;
    top:80px;
    left:20px;
    color:white;
    font-weight: 500;
    font-size: 40px;

}
.text-description{
    position: relative;
    top:110px;
    color:white;
    font-weight: 300;
    font-size: 18px;
   
}
.msg-error{
    color: red;
    display: block;
    margin-top: 10px;
}
.topnav {
    background-color: #333;
    padding: 0;
    margin-left: -1.5%;
    margin-right: 1.5%;
    width: 103%;
    margin-top: -1.5%;
    overflow: hidden;
}
.close-sesion {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.close-sesion:hover {
    background-color: #ddd;
    color: black;
    
}
.usuario{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.buscador{
    width: 100%;
    height: 30px;
    background: white;
    outline: 0px;
    border-radius: 20px;
    margin-top: 10px;
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    color: #E30F87;
    font-size: 16px;
    display: flex;
}

/*para que sea responsive*/
@media screen and (max-width: 800px){

    .ctn-text{
        display: none;
    }
    .ctn-form{
        margin: auto;
        border-radius: 20px;
        overflow: hidden;
    }
    .topnav {
        background-color: #333;
        padding: 0;
        margin-left: -6%;
        margin-right: 1.5%;
        width: 112%;
        margin-top: -6%;
        overflow: hidden
    }
}